*~
*.la
*.lo
*.mo
*.o
*.pc
.dirstamp
.deps/
.libs/
Makefile
Makefile.in
stamp-h1

/.version
/aclocal.m4
/autom4te.cache/
/build-aux/
/config.log
/config.status
/configure
/include/config.h
/include/config.h.in
/libtool
/m4/
/richacl-*
/src/getrichacl
/src/setrichacl

/test-suite.log
/tests/*.log
/tests/*.trs
/tests/require-richacls
/tests/richacl-equiv-mode
/tests/richacl-apply-masks
/tests/su
