*~
*.la
*.lo
*.mo
*.o
*.pc
.dirstamp
.deps/
.libs/
Makefile
Makefile.in
stamp-h1

/autom4te.cache/
/build-aux/
/config.log
/config.status
/configure
/include/config.h
/include/config.h.in
/libtool
/m4/
/richacl-*
/richacl/richacl
