*~
*.la
*.lo
*.mo
*.o
*.pc
.dirstamp
.deps/
.libs/
Makefile
Makefile.in
stamp-h1

/.version
/aclocal.m4
/autom4te.cache/
/build-aux/ar-lib
/build-aux/compile
/build-aux/config.guess
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/ltmain.sh
/build-aux/missing
/build-aux/test-driver
/config.log
/config.status
/configure
/include/config.h
/include/config.h.in
/libtool
/m4/
/richacl-*
/src/getrichacl
/src/setrichacl
/man/getrichacl.1.txt
/man/richacl.7.txt
/man/richaclex.7.txt
/man/setrichacl.1.txt

/test-suite.log
/tests/*.log
/tests/*.trs
/src/require-richacls
/src/richacl-equiv-mode
/src/richacl-from-mode
/src/richacl-apply-masks
/src/richacl-inherit
/src/runas
/testdir.*/
